

<!-- Start Footer -->
<div class="row footer">
  <div class="col-md-6 text-left">
  Copyright © 2016 <a href="http://www.matheusloureiro.com.br" target="_blank">Matheus Loureiro</a>
  </div>
  <div class="col-md-6 text-right">
    Design and Developed by <a href="http://www.matheusloureiro.com.br" target="_blank">Matheus Loureiro</a>
  </div> 
</div>
<!-- End Footer -->



</div>  

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js' %>
</body>
</html>
